/*reset*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/*new*/
ul{
  list-style: none;
  margin: 0;
}
a{
  text-decoration: none;
}
a[href]{
  text-decoration: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*fonts*/

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*переменные*/

:root{
  --accent-color: #ff2d2d;
  --main-bg: #313030;
  --black-color: #585858;
  --transparent-bg: transparent;
  --transition: .4s;
  --white-color: #ffffff;
  --input-color: #e5e5e5;
  --square-color: #f5f0dd;
  --bg-color: #f6f2f2;

  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 18px;

  --margin-bt: 110px;

  --main-font-family:'Open Sans', sans-serif;

  --cursor: pointer;

  --horizontal-line-width: 130px;

  --content-width: 1250px;
  --horizontal--offset: 15px;
}

/*styles*/


body{
  font-family: var(--main-font-family);
  font-size: var(--font-md);
}

.container{
  max-width: var(--content-width);
  padding: 0 var(--horizontal--offset);
  margin: 0 auto;
  width: 100%;
}
.btn{
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 13px 53px;
  font-weight: 700;
  font-size: var(--font-lg);
  cursor: var(--cursor);
}
/*horizontal lines*/
.hr{
  border-bottom: 2px solid #ececec;
  max-width: 1250px;
  margin-bottom: 107px;
}
.horizontal-line1{
  border-bottom: 2px solid var(--accent-color);
  max-width: var(--horizontal-line-width);
  margin-bottom: 90px;
}
.hr2{
  border-bottom: 2px solid var(--accent-color);
  max-width: var(--horizontal-line-width);
  margin-bottom: 70px;
}
.hr3{
  border-bottom: 2px solid var(--accent-color);
  max-width: var(--horizontal-line-width);
  margin-bottom: 75px;
}
/*header*/
header{
  padding: 30px 0 0 0;
  background-color: var(--bg-color);
}
header a{
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  padding:25px 30px;
  display: inline-block;
}
header a:hover,
header .active a{
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
header nav{
  background-color: var(--main-bg);
}
header nav ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*banner section*/
.banner-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 110px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.banner{
  padding: 110px 0;
  background-color: var(--bg-color);
  margin-bottom: 115px;
}
.banner .col{
  width: 50%;
}
.banner-heading{
  font-size: 60px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 3px;
  margin-bottom: 35px;
}
.banner-text{
  margin-bottom: 60px;
}
.banner-contact{
  background-color: var(--accent-color);
  color: var(--white-color);
}
.banner-contact:hover{
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--transparent-bg);
  color:var(--accent-color) ;
}
.video-wrapper iframe{
  width: 100%;
  border: none;
  -webkit-box-shadow: 0 0 80px 0 black;
  box-shadow: 0 0 80px 0 black;
}
/*services block*/
.services{
  margin-bottom: 65px;
}
.services .services-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
}
.main-heading{
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: var(--black-color);
  margin-bottom: 53px;
  letter-spacing: 3px;
}
.text{
  margin-bottom: 59px;
}
.services .services-contact{
  color: var(--accent-color);
  background-color: var(--transparent-bg);
}
.services .services-contact:hover{
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--accent-color);
  color: var(--white-color);
}
.services .block{
  width: 50%;
}
.right-side{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.services h2{
  font-size: 24px;
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 20px;
}
.services .item{
  width: 50%;
  padding: 0 50px 53px 0;
}
.services-image{
  max-width: 42px;
  max-height: 42px;
  margin-bottom: 35px;
}
/*portfolio section*/
.portfolio-section{
  margin-bottom: 130px;
}
.portfolio-heading{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 42px;
  margin-bottom: 37px;
}
.portfolio-text{
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.portfolio{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 70px;
}
ul .portfolio{
  font-size: 22px;
  line-height: 24px;
}
a:hover,
.active2 a{
  color: var(--accent-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.square{
  width: 300px;
  height: 290px;
  background-color: var(--square-color);
  margin-bottom: 10px;

}
/*team block*/
.team{
  margin-bottom: var(--margin-bt);
}
.team-heading{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 43px;
  letter-spacing: 4px;
  color: var(--black-color);
}
.team-text{
  margin-bottom: 33px;
  padding-left: 5px;
  max-width: 445px;
  line-height: 20px;
  color: #a0a0a0;
}
.bottom{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}
.left-bottom{
  width: 25%;
}
.right-bottom{
  width: 75%;
}
.name{
  font-weight: 600;
  font-size: 30px;
  color: var(--black-color);
  margin-bottom: 37px;
}
.name-text{
  max-width: 75%;
  color: var(--black-color);
  margin-bottom: 50px;
}
.team-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  font-size:var(--font-lg);
  margin-bottom: 68px;
}
.social{
  color: var(--black-color);
}
i:hover{
  color: var(--accent-color);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.square2{
  width: 320px;
  height: 490px;
  background-color: var(--square-color);
}
.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.card-gallery{
  position: relative;
  display: inline-block;
  min-width: 197px;
  min-height: 150px;
}
.card-gallery .img-top{
  position: absolute;
  bottom: 0;
  display: none;
}
.card-gallery:hover .img-top{
  display: inline;
}
.card-gallery .name-jue-text{
  position: absolute;
  bottom: 0;
  display: none;
  margin: 6px 50px;
  color: var(--white-color);
  text-transform: uppercase;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.card-gallery:hover .name-jue-text{
  display: inline;
}
/*news section*/
.news{
  background-color: #f5f0dd;
  margin-bottom: 108px;
}
.news-wrap{
  padding: 80px 0 140px 0;
  background-color: #f5f0dd;
}
.news-heading{
  color: var(--white-color);
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}
.news-text{
  color: var(--white-color);
  text-align: center;
  margin-bottom: 62px;
}
.news-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
}
.email-form{
  padding: 35px 338px 35px 37px;
  border: none;
  border-radius: 5px;
}
.news-btn{
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: var(--font-lg);
  border-radius: 5px;
  border: 1px solid var(--accent-color) ;
  padding: 32px 60px;
  cursor: var(--cursor);
}
.news-btn:hover{
  -webkit-transition:var(--transition);
  -o-transition:var(--transition);
  transition:var(--transition);
  background-color: var(--transparent-bg);
  color: var(--accent-color);
}
/*contact block*/
.contact-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: var(--margin-bt);
}
.get-it{
  width: 60%;
  display: inline-block;
}
.get-heading{
  font-size: 42px;
  font-weight: bold;
  color: var(--black-color);
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.get-text{
  max-width: 720px;
  color: var(--black-color);
  margin-bottom: 58px;
}
.get-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
.get-name,
.get-mail{
  width: calc(50% - 25px);
  padding: 25px 0 25px 45px;
  border: none;
  border-radius: 7px;
  background-color: var(--input-color);
  font-size: var(--font-lg);
}
textarea{
  width: 732px;
  height: 250px;
  padding: 25px 0 0 45px ;
  border: none;
  border-radius: 7px;
  background-color: var(--input-color);
  font-size: var(--font-lg);
  margin-bottom: 45px;
  resize: none;
}
.contact-btn{
  width: 100%;
  padding: 25px 0 25px ;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: var(--font-lg);
  font-weight: bold;
  border-radius: 7px;
  cursor: var(--cursor);
}
.contact-btn:hover{
  -webkit-transition:var(--transition);
  -o-transition:var(--transition);
  transition:var(--transition);
  background-color: var(--transparent-bg);
  color: var(--accent-color);
}
.black-block{
  display: inline-block;
  width: 31%;
  background-color: var(--main-bg);
  color: var(--white-color);
  padding: 146px 0 157px 80px;
  line-height: 35px;
  position: absolute;
  margin: 321px 0 0 108px;
}
.black-block:after{
  background-color: var(--main-bg);
}
.contact-info{
  font-weight: bold;
  font-size: var(--font-lg);
  margin-bottom: 44px;
}
/*footer*/
.footer-section{
  padding: 60px 0 35px 0;
}
footer{
  background-color: var(--main-bg);
  color: #b1b1b1;
}
.footer-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-images{
  padding: 0 17px;
}
.footer-images:last-child{
  padding: 0 0 0 17px;
}
.footer-rightside ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/*media*/
@media (max-width: 1280px) {
  :root{
    --content-width: 1024px;
  }
  header {
    padding: 10px 0 0 0;
  }
  header a {
    font-size: 10px;
    padding: 13px 30px;
  }
  /*banner*/
  .banner {
    padding: 20px 0 20px 0;
  }
  .banner-block1{
    margin-bottom: 50px;
  }
  .banner-heading ,
  .main-heading{
    font-size: 35px;
    line-height: 30px;
    text-align: center;
  }
  .banner-text,
  .text{
    text-align: center;
    margin-bottom: 45px;
  }
  .banner-row{
    display: block;
  }
  .box{
    text-align: center;
  }
  .btn {
    padding: 15px 135px;
  }
  /*services*/
  .services .services-row{
    display: block;
  }
  .services .block{
    width: 100%;
  }
  .services .item{
    padding: 0 20px 0 0;
  }
  .services .item:last-child{
    padding: 0;
  }
  /*portfolio*/
  .portfolio-section{
    margin-bottom: 60px;
  }
  /*our team*/
  .bottom{
    display: block;
  }
  .right-bottom{
    width: 100%;
  }
  .square2{
    margin-bottom: 40px;
  }
  .team{
    margin-bottom: 70px;
  }
  .team-heading{
    margin-bottom: 18px;
  }
  .team-text{
    max-width: 100%;
    text-align: start;
  }
  .hr2{
    margin-bottom: 40px;
  }
  .name{
    margin-bottom: 30px;
  }
  .name-text{
    margin-bottom: 40px;
  }
  .team-list{
    margin-bottom: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 65px;
  }
  .wrapper{
    gap: 45px;
  }
  .team .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .card-gallery {
    max-width: 103px;
    max-height: 165px;
  }
  .card-gallery .name-jue-text{
    margin: 0 40px;
    font-size: 14px;
    text-align: center;
    line-height: 11px;
  }
  /*news*/
  .news{
    margin-bottom: 70px;
  }
  .email-form{
    padding: 35px 276px 35px 37px;
  }
  /*contact block*/
  .get-it{
    width: 100%;
  }
  textarea{
    width: 740px;
  }
  .contact-block{
    margin-bottom: 50px;
  }
  .get-heading{
    margin-bottom: 40px;
  }
  .black-block{
    display: block;
    width: 100%;
    position: unset;
    margin: 50px 0 0 0;
  }

}
@media (max-width: 1024px) {
  :root{
    --content-width: 767px;
  }
  /*banner*/
  .banner-heading{
    font-size: 35px;
  }
  .banner-text {
    font-size: 14px;
  }
  .banner .col{
    width: 100%;
  }
  .banner{
    padding: 40px 0 15px 0;
    margin-bottom: 50px;
  }
  /*services*/
  .main-heading{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .services .item{
    padding: 0 10px 0 0;
  }
  .services .item:last-child{
    padding: 0;
  }
  .services .block{
    margin-bottom: 60px;
  }
  p{
    font-size: 14px;
  }
  .services h2{
    font-size: var(--font-lg);
  }
  /*portfolio*/
  .portfolio{
    margin-bottom: 45px
  }
  .horizontal-line1{
    margin-bottom: 45px
  }
  /*portfolio*/
  .portfolio{
    gap: 45px;
  }
  /*team*/
  .bottom{
    gap: 110px;
  }
  .card-gallery{
    display: inline-block;
    min-width: 150px;
    min-height: 150px;
  }
  .card-gallery .name-jue-text {
    margin: 10px 33px;
  }

  /*news*/
  .email-form{
    padding: 35px 159px 35px 37px;
  }
  .news{
    margin-bottom:50px;
  }
  /*contact block*/
  .get-heading{
    margin-bottom: 30px;
  }
  .get-text{
    margin-bottom: 30px;
  }
  .hr3{
    margin-bottom: 30px;
  }
  .contact-btn{
    padding: 25px 277px 25px 277px;
  }

}
@media (max-width: 767px) {
  :root{
    --content-width: 650px;
  }
  /*header*/
  header{
    display: none;
  }
  /*banner*/
  .banner-heading{
    font-size: 27px;
  }
  .banner-text{
    margin-bottom: 40px;
  }
  .btn{
    padding: 15px 118px;
  }
  /*services*/
  .services .services-row{
    display: block;
  }
  .services .block{
    width: 100%;
  }
  .services .btn{
    padding: 15px 150px;
  }
  /*portfolio*/
  .hr{
    margin-bottom: 50px;
  }
  .portfolio{
    font-size: var(--font-sm);
    gap: 10px;
  }
  .square{
    width: 130px;
    height: 130px;
  }
  .row{
    justify-content: space-evenly;
  }
  /*team*/
  .social{
    font-size: 14px;
  }
  .team-list{
    margin-bottom: 30px;
  }
  .card-gallery{
    min-height: 120px;
    min-width: 120px;
  }
  .card-gallery .name-jue-text{
    margin: 0 33px;
    font-size: 10px;
  }
  /*news*/
  .news-heading{
    font-size: 35px;
  }
  .news-text{
    margin-bottom: 30px;
  }
  .news-wrap {
    padding: 65px 0 50px 0;
  }
  .news-form{
    display:block;
    margin-bottom: 15px;
  }
  .email-form{
    width: 100%;
    margin-bottom: 23px;
  }
  .news-btn{
    width: 100%;
    padding: 17px 37px;
  }

  /*contact block*/
  .get-heading {
    font-size: 35px;
  }
  p{
    font-size:var(--font-sm);
  }
  .get-it{
    margin-bottom: 15px;
  }
  .get-form{
    margin-bottom: 35px;
  }
  .get-name,
  .get-mail{
    padding: 21px 0 21px 40px;
  }
  textarea {
    padding: 20px 0 154px 38px;
    width: 621px;
    margin-bottom: 15px;
  }
  .contact-btn {
    padding: 20px 0;
  }
  .black-block{
    padding: 90px 0 90px 80px;
    margin-top: 15px;
  }
  .footer-section {
    padding: 35px 0 35px 0;
  }
}
@media (max-width: 650px) {
  :root{
    --content-width: 516px;
  }
  /*services*/
  .btn {
    display: block;
  }
  /*portfolio*/
  .portfolio{
    text-align: center;
    gap: 20px;
    font-size: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 35px;
  }
  .horizontal-line1 {
    margin-bottom: 26px;
  }
  .square {
    width: 106px;
    height: 106px;
  }
  .portfolio-section {
    margin-bottom: 39px;
  }
  /*team*/
  .team-heading {
    font-size: 34px;
  }
  .square2 {
    width: 149px;
    height: 310px;
  }
  .card-gallery{
    min-width: 100px;
    min-height: 100px;
  }
  .card-gallery .name-jue-text{
    margin: 0 33px;
    font-size: 10px;
  }
  .team-list{
    gap: 13px;
  }
  .bottom {
    gap: 86px;
  }
  .wrapper {
    gap: 24px;
  }
  /*news*/
  .news-heading {
    font-size: 24px;
  }
  .news-wrap {
    padding: 40px 0 40px 0;
  }
  /*contact block*/
  .get-heading {
    font-size: 25px;
  }
  .get-it{
    width: 100%;
  }
  .get-mail,
  .get-name{
    font-size: var(--font-md);
  }
  textarea {
    font-size: var(--font-md);
    width: 488px;
    padding: 20px 0 124px 38px;
  }
  .contact-btn {
    padding: 16px 0;
  }
  .contact-info {
    font-size: var(--font-md);
    margin-bottom: 20px;
  }
  .black-block{
    line-height: 25px;
    padding: 50px 0 50px 80px;
  }
  /*footer*/
  .footer-section {
    padding: 30px 0 30px 0;
  }
  footer p{
    font-size: 6px;
  }
}
@media (max-width: 516px) {
  :root{
    --content-width: 372px;
  }
  /*services*/
  .services .btn {
    padding: 11px 88px;
  }
  /*portfolio*/
  .portfolio .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .square {
    width: 145px;
    height: 145px;
  }
  .portfolio{
    gap: 15px;
  }
  .hr {
    margin-bottom: 30px;
  }
  .portfolio-heading{
    font-size: 26px;
    margin-bottom: 15px;
  }
  /*team*/
  .team-heading {
    font-size: 28px;
  }
  .name{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .name-text{
    margin-bottom: 25px;
  }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .square2{
    height: 177px;
  }
  .bottom {
    gap: 79px;
  }
  .team .wrapper{
    width: 100%;
  }
  .card-gallery .name-jue-text{
    margin: 0 33px;
    font-size: 10px;
  }
  /*news*/
  .news-wrap {
    padding: 30px 0 53px 0;
  }
  .news-text{
    font-size: 18px;
  }
  .email-form {
    padding: 20px 99px 20px 18px;
    margin-bottom: 20px;
  }
  .news-btn {
    padding: 15px 105px;
  }
  /*contact block*/
  .get-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;

  }
  .get-name, .get-mail {
    width: 100%;
    font-size: var(--font-sm);
    padding: 15px 0 15px 20px;
  }
  textarea {
    font-size: var(--font-sm);
    height: 155px;
    padding: 20px 0 0 17px;
    margin-bottom: 10px;
    width: 100%;
  }
  .contact-btn {
    padding: 16px 0;
  }
  /*footer*/
  .footer-section{
    padding: 10px 0 10px 0;
  }
  .footer-wrap{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    gap:10px;
  }
  .footer-leftside{
    font-size: 10px;
  }
  .footer-rightside ul{
    padding: 0;
  }

}
@media (max-width: 372px) {
  :root{
    --content-width: 320px;
  }
  /*banner*/
  .banner{
    padding: 25px 0 15px 0;
  }
  .banner-heading{
    margin-bottom: 25px;
  }
  .btn{
    padding: 10px 80px;
  }
  /*portfolio*/
  .square {
    width: 125px;
    height: 125px;
  }
  /*team*/
  .card-gallery .name-jue-text{
    margin: 0 33px;
    font-size: 10px;
  }
  /*news*/
  .news-btn {
    padding: 15px 90px;
  }
  .news-wrap {
    padding: 30px 0 20px 0;
  }
}



